body {
    background-color: #000; /* Black background */
    margin: 0;
    overflow: hidden; /* Hide scrollbars */
    font-family: monospace;
}

#matrixCanvas {
    display: block; /* Prevent space below canvas */
}